<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{title}}
        </div>

        <div class="ag-courses-item_date-box">
          {{content}}
          <span class="ag-courses-item_date">
            {{text}}
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Number of Students
        </div>

        <div class="ag-courses-item_date-box">
          Total:
          <span class="ag-courses-item_date">
            65
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Number of Units
        </div>

        <div class="ag-courses-item_date-box">
          Total:
          <span class="ag-courses-item_date">
            29
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Number of Subjects
        </div>

        <div class="ag-courses-item_date-box">
          Total:
          <span class="ag-courses-item_date">
            7
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Number of Absents
        </div>

        <div class="ag-courses-item_date-box">
          Total:
          <span class="ag-courses-item_date">
            69
          </span>
        </div>
      </a>
    </div>


    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Number of Hollidays
        </div>

        <div class="ag-courses-item_date-box">
          Total:
          <span class="ag-courses-item_date">
            1000
          </span>
        </div>
      </a>
    </div>

  </div>
</div>    